.parent{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 5px;
}

.box {
  border:1px solid red;
  width:45px;  
  height:45px;  
}

.yellow{
   background-color:yellow;
}
.green{
   background-color:green;
}